.lead {
    display: block;
    margin: 56px auto 0;
    position: relative;
    max-width: 984px;
    min-width: 320px;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px 0 0;
        width: 100%;
    }
}