.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    margin: 25px 0 0;
}

.place__paragraph:first-child {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}