.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 66px 0 0;
    max-height: 740px;
}

@media screen and (min-width: 768px) {
    .cover {
        margin: 90px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-top: 92px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        margin: 92px auto 0;
        min-height: 740px;
    }
}