.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1184px;
    margin: 92px auto 0;
    min-height: 740px;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 0;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 0;
    min-height: 200px;
    }
}