.footer__navigation {
    display: flex;
    color:#fff;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .footer__navigation {
        margin: 88px 24px 0;
    }
}
@media screen and (max-width: 767px) {
    .footer__navigation {
        margin-top: 64px;
        flex-direction: column;
    }
}
@media screen and (min-width: 1024px) {
    .footer__navigation {
        margin: 92px 48px 0;
    }
}