.footer__navigation {
    display: flex;
    color:#fff;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 92px 48px 0;
}

@media screen and (max-width: 1023px) {
    .footer__navigation {
        margin: 88px 24px 0;
    }
}
@media screen and (max-width: 767px) {
    .footer__navigation {
        margin: 64px 0 0;
        flex-direction: column;
    }
}
