.cover__background {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url("../../../images/cover-trains.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

@media screen and (min-width: 1280px) {
    .cover__background {
        min-height: 740px;
    }
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}
@media screen and (max-width: 425px) {
    .cover__background {
        min-height: 350px;
    }
}
@media screen and (max-width: 375px) {
    .cover__background {
        min-height: 275px;
    }
}
@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}