.lead__caption {
    display:block;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        max-width: 90%;
        margin: 8px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-top: 16px;
        margin-left: 24px;
    }
}