
.footer__list {
        margin: 0 9px 0;
    }
    .footer__list:first-child {
        margin-left: 0;
    }
    .footer__list:last-child {
        margin-right: 0;
    }


@media screen and (max-width: 767px) {
    .footer__list {
        margin: 32px 16px 0;
    }
    .footer__list:first-child {
        margin-top: 0;
        margin-left: 16px;
    }
}