.place {
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 767px));
    grid-template-rows: repeat(4, auto);
    margin: 50px auto 0;
    max-width: 984px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraphs";
}

@media screen and (min-width: 768px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,auto);
        margin-top: 73px;
        width: calc(100% - 48px);
        column-gap: 28px;
        grid-template-areas:
        "place__title place__website"
        "place__image place__paragraphs";
    }
}

@media screen and (min-width: 1024px) {
    .place {
        margin-top: 80px;
        width: calc(100% - 96px);
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place { 
        width: calc(100% - 296px);
        column-gap: 40px;
    }
}